@model Fundraising_Capstone2.Models.DataViewModel

@{
    ViewBag.Title = "_ViewGraphPartial";
    Layout = "~/Views/Shared/_DataLayout.cshtml";
}

<section>
    <div class="well bs-component">
        <div class="row">
            <div class="col-xs-12">
                <!-- CHART -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title custom-heading">Employee Data</h3>
                    </div>
                    <div class="box-body">
                        <div class="chart">
                            <div id="graphId" style="width: 1100px; height: 900px; margin:auto;"></div>
                        </div>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div>
        </div>
    </div>
</section>
