@model Fundraising_Capstone2.Models.Employee

@{
    Layout = "~/Views/Shared/_DataLayout.cshtml";
}

<h2>Index2</h2>

<!DOCTYPE html>

@{
    ViewBag.Title = "ASP.NET MVC5 - Google Graph Integration";
}

<div class="row">
    <div class="panel-heading">
        <div class="col-md-8  custom-heading3">
            <h3>
                <i class="fa fa-pie-chart"></i>
                <span>ASP.NET MVC5 - Google Graph Integration</span>
            </h3>
        </div>
    </div>
</div>

<div class="row">
    <section class="col-md-12 col-md-push-0">
        @Html.Partial("_ViewGraphPartial")
    </section>
</div>
}



