@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono);

body,
p {
    padding: 0;
    margin: 0;
}

body {
    background: #272726;
}

div#controls {
    padding: 3em;
    max-width: 1200px;
    margin: 0 auto;
}

    div#controls div#call-controls,
    div#controls div#info {
        width: 16em;
        margin: 01.5em;
        text-align: center;
    }

    div#controls button {
        width: 15em;
        height: 2.5em;
        margin-top: 1.75em;
        border-radius: 1em;
        font-family: "Helvectica Light", Helvetica, sans-serif;
        font-size: .8em;
        font-weight: lighter;
        outline: 0;
    }

        div#controls button:active {
            position: relative;
            top: 1px;
        }

    div#controls div#call-controls input {
        font-family: Helvectica-LightOblique, Helvetica, sans-serif;
        font-style: oblique;
        font-size: 1em;
        width: 100%;
        height: 2.5em;
        padding: .5em;
        display: block;
    }

    div#controls div#log p {
        color: #686865;
        font-family: 'Share Tech Mono', 'Courier New', Courier, fixed-width;
        font-size: 1.25em;
        line-height: 1.25em;
        margin-left: 1em;
        text-indent: -1.25em;
        width: 90%;
    }



/*/body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
/*.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*
