
@{
    ViewBag.Title = "View";
}

<div class="jumbotron">
        <h1>Fundraising</h1>
        <p class="lead"></p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
 </div>

    

